nav{
  display: flex;
  justify-content: space-between;
  margin-left: 50px;
  margin-right: 10px;
}

ul
{
  display: flex;
  list-style-type: none;
  width: 200px;
  justify-content: space-between;
  margin-right: 100px;
}
ul li a{
  text-decoration: none;
}

.active{
  color: red;
}
