.btn{
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin: 10px;
  color: peachpuff;
  cursor: pointer;
}
.bg-red{
  background-color: red;
}
.bg-black{
  background-color: black;
}
.bg-green{
  background-color: forestgreen;
}
.btn:hover{
  border:1px solid yellow
}
.count{
  width: 100px;
  padding:10px;
  margin: auto;
  font-size: 30px;
  background-color: gainsboro;
  border-radius: 10px;
  margin-bottom: 30px;
}
